* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

    
}

.container {
    margin: 0 50px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px 40px;  
    background-color: #ffffff;  
    
    
    width: 100%;
    max-width: 1140px; 
    margin: 0 auto;
}

.hero-section {
    position: relative;         
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;     
    min-height: 100vh;
    min-width: 1200px;
    flex-direction: column;
}
.hero-section img{
    z-index: -1;
}

.hero-bg {
    position: absolute;     
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    z-index: 1;            
}

.hero-content {
    justify-content: center;
    position: relative;
    z-index: 2;         
    text-align: center;
    color: #ffffff;
    padding: 40px 20px; 
}

.hero-content h1 {
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 24px 0; 
}

.hero-content p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 650px; 
    margin: 0 auto 30px auto; 
}

.hero-buttons {
    display: flex;
    justify-content: center; 
    gap: 20px;             
}



.btn {
    display: inline-block;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;      
    transition: all 0.3s ease; 
    z-index: 2;              
}

.btn-filled {
    background-color: #a8997a; 
    color: #ffffff;          
    border: none;
    text-decoration: none;
}

.btn-filled:hover {
    background: #9e8c66;
}

.btn-outlined {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff; 
    text-decoration: none;
}
.btn-outlined:hover {
    background: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
}

.hero-features p {
    color: #ffffff;
}

.hero-blocks-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px;

}



.hero-blocks  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #a8997a;
    border-radius: 20px;      
    padding: 20px 15px;       
    width: 160px;      
    min-height: 120px;         
    box-sizing: border-box; 
    transition: 0.3s ease;
}

.hero-blocks img {
    align-items: center;
    margin-bottom: 10px;
    width: 40px;            
    height: 40px;
    z-index: 2;
}


.hero-blocks p {
    margin: 0;
    font-size: 14px;

}
.hero-blocks:hover {
    transform:scale(1.1)
}

/* Section about us*/

.about-us-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center ;
    width: 100%;
}

.about-us {
    display: flex;
    width: 1140px;
    justify-content: space-between;
     

}

.about-us-info {

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-us-info h1 {
    font-size: 60px;
    margin-bottom: 20px ;
} 
.about-us-info p { 
    font-size: 20px;
    margin-bottom: 30px;
}

.about-us-info button {
    padding: 10px 35px ;
    border-radius: 30px;
    font-size: 14px;
    margin: 27px 338px 0 0;
    background-color: #a8997a;
    color: #ffffff;
    border:none;
    cursor: pointer;
}

.about-us-info button:hover {
    background: #94866b;
}

.about-us-img {
    width: 420px;
    height: 369px
}


/*holyday-container*/

.holyday-container {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #a79770;
    align-items: center;
    overflow:hidden;
}

.holyday {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.holyday h2 {
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-size: 60px 91px ;
}
.holyday>p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 20px 40px ;
}
.holyday-greeds {
    width: 1140px;
    display: grid;
} 
.greeds {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px; 

}


.greeds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px;
    justify-content: center; 
    width: 100%;
}


.greed {
    width: 100%;      
    max-width: 368px;  
    height: 453px;     
    position: relative; 
    overflow: hidden;
    margin: 0 auto;    
}


.greeds .greed img {
    width: 100%;
    height: 100% ;
    object-fit: cover; 
}

.greed-info {
    display: flex;
    flex-direction: column;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 151px;
    background-color: rgba(0, 0, 0, 0.7); 
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.greed-info h4{ 
    font-size: 24px;
    color: #ffffff;
}

.greed-info p{ 
    font-size: 18px;
    color: #ffffff;
}



/*services*/

.services-container {
    overflow:hidden;
    position: relative;
   
}


.services h2 {
    position: absolute;
    top: 20px;
    left: 40%;
    text-align: center;
    color: #ffffff;
    font-size: 60px;;
    padding: 40px 20px; 
} 


.grid-cards  {
    max-width: 1140px; 
    margin: -250px auto 0; 
    padding: 0 15px; 
    position: relative;
    z-index: 3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    z-index: 3;
} 

.card-info {
    background: #fff;
    text-align: center;
    padding: 20px ;
    border: 1px solid grey;
}
.card-info img {
    width: 100%; /* Картинка адаптируется под ширину карточки */
    height: auto;
}

.card-info h4 {
    font-size: 18px;
    margin: 20px 0 0 ;
}
.card-info p {
    font-size: 18px;
    margin: 20px  ;

}
.card-info a {
    font-size: 14px;
    margin: 60px 87px  0 ;
    color: #a8997a;
    
}


/* Настройки списка */
.services-info-container {
    display: flex;
    justify-content: center;
    
}

.services-info {
    display: flex;
    justify-content: center;
    margin:50px 0;
    width: 1140px;

    
}

.servicess {
    display: grid ;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: space-between;
    padding: 30px;
    gap: 90px;
}



.my-custom-list {
    list-style: none; 
    padding-left: 0;
    margin: 0;
}
.my-custom-list li {
    position: relative;
    padding-left: 22px; 
    margin-bottom: 10px; 
    font-family: sans-serif; 
    font-size: 16px;
    line-height: 22px;
    color: #333333; 
}
.my-custom-list .list-icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px; 
    height: 12px;
    fill: #a8997a; 
}

.service-info2 button {
    width: 210px ;
    margin: 33px 309px 0 0;
    padding: 10px 35px 10px 35px ;
    border-radius: 30px;
    font-size: 14px;
    margin: 27px 338px 0 0;
    background-color: #a8997a;
    color: #ffffff;
    border:none;
    cursor: pointer;

}

.service-info2 button:hover {
    background: #94866b;
}
.service-info2 ul, .service-info1 ul{
    padding-top: 25px;
}

.service-info2 h3, .service-info1 h3{
    font-size: 30px;
}


/* camp-journey-info */
.camp-journey-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    

}

.camp-journey {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;

 
}


.camp-journey h2{
    font-size: 60px;
    color: #ffffff;
}


.journey-list {
    list-style: none; 
    padding-left: 0;
    margin: 0;
}
.journey-list li {
    position: relative;
    padding-left: 22px; 
    margin-bottom: 10px; 
    font-family: sans-serif; 
    font-size: 24px;
    line-height: 22px;
    color: #ffffff; 
}



.journey-list .list-icon {
    position: absolute;
    left: 0;
    top: 5px;
    width: 22px; 
    height: 22px; 
    fill: #a8997a; 
}



.camp-journey button {
    margin: 28px 835px 60px 0;
    padding: 13px 53px 14px 52px ;
    border-radius: 30px;
    font-size: 14px;
    margin: 27px 338px 0 0;
    background-color: #a8997a;
    color: #ffffff;
    border:none;
    cursor: pointer;

}

.camp-journey button:hover {
    background: #94866b;
}



/*journey-container*/
.journey-container {
    padding: 60px 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

.journey-info h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 40px 0 80px 0;
}

.journeys-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px 30px; 
    max-width: 1140px;
    margin: auto;
    align-items: center; 
}


.journey-img {
    width: 100%;
    border-radius: 50%; 
    max-width: 250px; 
    margin: auto;
}

.journey-media img {
    width: 100%;
    height: 100%;
}

.journey-text {
    text-align: left;
    padding: 0 10px;
}

.journey-text h5 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 15px 0;
    color: #000000;
}

.journey-text p {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #333333;
}


/*contakt-section*/

.contact-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/gfgfggfggg-min.png');
  background-position: center;
  padding: 80px 20px;
  font-family: sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.contact-container {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
}

.contact-info h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-info p {
  font-size: 18px;
  line-height: 1.6;
  color: #b3b3b3;
  margin-top: 32px;
  margin-bottom: 60px;

}

.contact-info {
  font-size: 13px;
  color: #ffffff;
}

.contact-info .credits a {
  color: #ffffff;
  text-decoration: underline;
}

.btn-outline {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn-outline:hover {
    background: #ffffff;
    color: #000000;
    transition: all 0.3s ease;
}

.contact-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 445px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}


.btn-submit {
  background-color: #b5a283;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 10px;
  width: 100%;
  font-family: lato, sans-serif;
}

.btn-submit:hover {
  background-color: #a39071;
}


/*footer*/

.footer {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    height: 250px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer-info1 {
    display: flex;
    justify-content: center;

} 

.footer-info1 p {
    font-size: 14px;
    color: #ffffff;
}


.footer-info2-info {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #ffffff;
    padding: 30px  ;
    width: 100%;
}
.footer-info2 {
    display: flex;
    width: 100%;
}
.footer-info2 a {
    color: #5480b9;
    text-decoration: underline;
    margin: 0 10px;
}
